/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.back{
  width: 1000px;
  height: 750px;
  position:relative;
  background: #b4e1ff;
  margin: 0 auto;
}

.outleft{
writing-mode: vertical-rl;
font-family: Arial, Helvetica, sans-serif;
font-size: 32.5px;
position:absolute;
top: 200px;
left: 145px;
color: #875ec6;
}

.outleft span{
  font-size: 27.5px;
  color: #875ec6;
}

.outright{
  width: 600px;
  height: 350px;
  position:absolute;
  top: 200px;
  left: 250px;
  border-radius:15px;
  overflow:hidden;
  background: white;
  box-shadow:  0.1px 5px 10px rgb(170, 170, 170)
  }

.wrap{
  font-family:Helvetica, Arial;
  width: 325px;
  position:absolute;
  top: 42px;
  left: 33px;
  }

.header h2{
width: 175px;
color: #875ec6;
font-weight: bold;
font-size: 22.5px;
margin-bottom:10px;
}

.profession h3{   
font-weight:lighter;
color: #7cc6f8;
font-size: 11px;
margin-bottom: 44px;
}


.name{
  margin-bottom: 100px;
}
.name h1{
  font-family:Helvetica, Arial;
  color:#545454;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 1px;
}
.name p {
   font-size: 13.5px;
   font-family:Helvetica, Arial;
  color:#757575;
  text-indent:1.5px;
}

.content{
  color: #875ec6;
 font-size: 12px;
 line-height:11.5px;
}


.part1{
  position:absolute;
  top: 0px;
  right: 10px;
  width: 165px;
  height: 165px;
  background: #7cc6f8;
  clip-path: polygon(50% 0%, 100% 0, 25% 75%, 0% 50%);
}

.part2{
  position:absolute;
  top: 87.5px;
  right: 140px;
  width: 80px;
  height: 80px;
  background: #875ec6;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.part3{
  position:absolute;
  top: -50px;
  right: -280px;
  width: 450px;
  height: 450px;
  background: #7cc6f8;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.part4{
  position:absolute;
  top: 40px;
  right: -175px;
  width: 272.5px;
  height: 272.5px;
  background: white;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.part5{
  position:absolute;
  top: 45px;
  right: -175px;
  width: 260px;
  height: 260px;
  background: #875ec6;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
} .box {
      position: relative; /*相對定位*/
      width: 50px;
      height: 50px; 
      background: red;
  }

  